
@using System.Data
@model JurosReal.Models.Investimento

@{
    ViewData["Title"] ="Retorno";
}
<body>
    

<h2>Retorno do investimento</h2>
<p>Valor aplicado = R @Html.DisplayFor(model => model.ValorInvestido)</p>
<p>Valor do Retorno bruto = R @Html.DisplayFor(model => model.RetornoBruto)</p>
<p>Valor do Retorno liquido = R @Html.DisplayFor(model => model.RetornoLiquido)</p>
<p>Valor do Retorno real = R @Html.DisplayFor(model => model.RetornoReal)</p>

<h2>Definições </h2>
<p>Inflação: é um aumento geral nos preços de bens e serviços em uma economia.Resumindo, sabe aquele churrasco que ano passado você fazia com R$100,00, e hoje faz com R$120,00, esse aumento de preços é a inflação, que com a mesma quantidade de dinheiro de um período passado você consegue comprar menos. </p>
<p>Retorno bruto: Valor do seus investimentos antes do desconto imposto de renda retido na fonte no momento do resgate da sua aplicação</p>
<p>Retorno Liquido: Valor dos seus investimentos após o resgate e desconto do imposto de renda sobre o seu lucro.
Lembrando que o IR é regressivo, ou seja quanto mais tempo você deixar o seu dinheiro aplicado menos imposto ira pagar, e maior será o seu lucro. . </p>
<p>Até 180 dias (6 meses) = IR de 22,5% sobre o lucro</p>
<p>Até 181 dias até 360 dias (12 meses) = IR de 20,0% sobre o lucro</p>
<p>Até 361 dias até 720 dias (24 meses) = IR de 17,5% sobre o lucro</p>
<p>Acima de 720 dias (mais de 24 meses) = IR de 15,0% sobre o lucro</p>
<p>Retorno real: Valor liquido do seu investimento descontando a inflação do período da sua aplicação.Ou seja já descontado a desvalorização do seu dinheiro durante  </p>

<a asp-action="Index">Voltar</a>

 </body>   
