
@using System.Data

@{
    ViewData["Titele"] = "Juros Real";
}

<html>
    <body>
        
    
<h1> Calculadora de rentabilidade para renda fixa</h1>
<h2>Objetivo</h2>
<p>Calcular o retorno real do seus investimentos em renda fixa pode ser um tarefa difícil, levando em conta o valor do imposto de renda sobre o seu lucro, e a inflação do período em que seu capital foi aplicado, para esse desafio desenvolvi essa calculadora para facilitar esse desafio, além disso aperfeiçoar e demostrar meus conhecimentos e .NetC#</p>

<h2>Calculadora</h2>
<p>Informe a taxa do seu investimento, o valor aplicado, e os meses da aplicação</p>
<div>
<form asp-controller="Taxa" asp-action="Buscar" method="get">
<select name="NomeTaxa" id="NomeTaxa">
    <option value= "CDI"> CDI </option>
    <option value= "Selic"> Selic </option>
    <option value= "IPCA"> IPCA </option>
</select>
    <input type="number" name="ValorInvestido" id="ValorInvestido" placeholder="Valor investido">
    <input type="number" name="Meses" id="Meses" placeholder="Meses investidos">
    <input type="submit" value="Calcular">
</form>
</div>

<h2>Definições </h2>
<p>Taxa Selic: é a taxa básica de juros da economia. É o principal instrumento de política monetária utilizado pelo Banco Central do Brasil para controle da inflação</p>
<p>CDI: O CDI, ou Certificado de Depósito Interbancário, é uma taxa que determina o rendimento anual de diversos tipos de investimento</p>
<p>IPCA: Índice de preços no consumidor é usado para observar tendências de inflação. É calculado com base no preço médio necessário para comprar um conjunto de bens de consumo e serviços</p>
<p>Inflação: é um aumento geral nos preços de bens e serviços em uma economia.Resumindo, sabe aquele churrasco que ano passado você fazia com R$100,00, e hoje faz com R$120,00, esse aumento de preços é a inflação, que com a mesma quantidade de dinheiro de um período passado você consegue comprar menos. </p>
<p>Retorno bruto: Valor do seus investimentos antes do desconto imposto de renda retido na fonte no momento do resgate da sua aplicação</p>
<p>Retorno Liquido: Valor dos seus investimentos após o resgate e desconto do imposto de renda sobre o seu lucro.
Lembrando que o IR é regressivo, ou seja quanto mais tempo você deixar o seu dinheiro aplicado menos imposto ira pagar, e maior será o seu lucro. . </p>
<p>Até 180 dias (6 meses) = IR de 22,5% sobre o lucro</p>
<p>Até 181 dias até 360 dias (12 meses) = IR de 20,0 sobre o lucro</p>
<p>Até 361 dias até 720 dias (24 meses) = IR de 17,5 sobre o lucro</p>
<p>Acima de 720 dias (mais de 24 meses) = IR de 15,0 sobre o lucro</p>
<p>Retorno real: Valor liquido do seu investimento descontando a inflação do período da sua aplicação.Ou seja já descontado a desvalorização do seu dinheiro durante  </p>
<h3>Nota</h3>
<p>Essa calculadora não se aplica para impostos isentos de IR como, letra de crédito imobiliário (LCI), letra de crédito do agronegócio (LCA) e poupança;
</p>

</body>
</html>
    