@model TaxaDeJurosModel

@{
    ViewData["Titele"] = "Juros Real";
}

<html>
    <body>
        
    
<h1> jUROS</h1>

<INput id="nome"> digite o nome da taxa de jUROS </INput>
<button>Buscar</button>

</body>
</html>
    